html,
body {
  font-size: 18px;
  padding: 0;
  margin: 0;
  font-family: Barlow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  font-size: 0.85em;
}
h1, h2, h3, h4, h5, h6 {
  color: #272F3D;
}
h1 {
  font-family: 'Fraunces';
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
h2 {
  font-family: 'Fraunces';
  font-weight: 900;
}

:root {
  --a-border-bottom-color: lightblue;
}

a {
  color: inherit;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'Fraunces';
  position: relative;
  text-decoration: none;
  font-weight: 900;
}
a::before{
  content: "";
  width: 110%;
  border-bottom: 0.7em solid var(--a-border-bottom-color);
  position: absolute;
  left: -0.4em;
  bottom: -0.15em;
  z-index: -1;
  border-radius: 10px;
}
a.yellow::before {
  --a-border-bottom-color: #FDF2BF;
}
a.pink::before {
  --a-border-bottom-color: #F7DCD3;
}

* {
  box-sizing: border-box;
}
