:root {
  --a-border-bottom-color: lightblue;
  --color-red: hsl(7, 99%, 70%);
  --color-yellow: hsl(51, 100%, 49%);
  --color-dark-cyan: hsl(167, 40%, 24%);
  --color-dark-blue: hsl(198, 62%, 26%);
  --color-moderate-cyan: hsl(168, 34%, 41%);

  --color-desaturated-cyan: #9FD2C6;
  --dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --base-font-size: 18px;
}

html,
body {
  font-size: var(--base-font-size);
  padding: 0;
  margin: 0;
  font-family: Barlow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  font-size: 0.85em;
}
p {
  margin: 0;
  line-height: 1.75em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fraunces';
  font-weight: 900;
  color: #272F3D;
  margin: 0;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
h3 {
  color: var(--dark-grayish-blue);
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-size: 0.9em;
}
h4 {
  font-size: 0.9em;
  color: #272F3D;
}
h5 {
  color: var(--dark-grayish-blue);
  font-size: 0.8em;
  font-family: unset;
  font-weight: 500;
}
ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'Fraunces';
  position: relative;
  text-decoration: none;
  font-weight: 900;
}
a::before{
  content: "";
  width: 110%;
  border-bottom: 0.7em solid var(--a-border-bottom-color);
  position: absolute;
  left: -0.4em;
  bottom: -0.15em;
  z-index: -1;
  border-radius: 10px;
}
a.yellow::before {
  --a-border-bottom-color: #FDF2BF;
}
a.pink::before {
  --a-border-bottom-color: #F7DCD3;
}

* {
  box-sizing: border-box;
}

/*
	Improved screen reader only CSS class
  https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links 
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}