:root {
  --a-border-bottom-color: lightblue;
  --color-red: hsl(7, 99%, 70%);
  --color-yellow: hsl(51, 100%, 49%);
  --color-dark-cyan: hsl(167, 40%, 24%);
  --color-dark-blue: hsl(198, 62%, 26%);
  --color-moderate-cyan: hsl(168, 34%, 41%);

  --color-desaturated-cyan: #9FD2C6;
  --dark-desaturated-blue: hsl(212, 27%, 19%);
  --dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --base-font-size: 18px;
}

html,
body {
  font-size: var(--base-font-size);
  padding: 0;
  margin: 0;
  font-family: Barlow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  font-size: 0.85em;
}
p {
  margin: 0;
  line-height: 1.75em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fraunces';
  font-weight: 900;
  color: #272F3D;
  margin: 0;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
h3 {
  color: var(--dark-grayish-blue);
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-size: 0.9em;
}
h4 {
  font-size: 0.9em;
  color: #272F3D;
}
h5 {
  color: var(--dark-grayish-blue);
  font-size: 0.8em;
  font-family: unset;
  font-weight: 500;
}
ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'Fraunces';
  position: relative;
  text-decoration: none;
  font-weight: 900;
}
a::before{
  content: "";
  width: 110%;
  border-bottom: 0.7em solid var(--a-border-bottom-color);
  position: absolute;
  left: -0.4em;
  bottom: -0.15em;
  z-index: -1;
  border-radius: 10px;
}
a.yellow::before {
  --a-border-bottom-color: #FDF2BF;
}
a.pink::before {
  --a-border-bottom-color: #F7DCD3;
}

* {
  box-sizing: border-box;
}
