.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.hero {
  min-height: 544px;
  background-color: #65BBF9;
  background-image: url('../images/mobile/image-header.jpg');
  background-size: cover;
  background-position-x: 49.3%;
  background-position-y: 98%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}
.hero>nav {
  text-align: right;
}
.hero>main {
  flex: 1;
  text-align: center;
  padding: 30px 20px;
}
.hero h1 {
  color: white;
}
/* Header nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px;
}
.logo {
  font-family: Barlow;
  font-size: 2em;
  letter-spacing: -0.05em;
  color: white;
  z-index: 99999;
}
.mobileNav {
  padding: 28px 0 20px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  background-color: #66BBF9AA;
  width: 100%;
  transition: ease-in 0.1s;
  z-index: -1;
}
.mobileNav > * {
  padding: 1em 30px;
}
.mobileNav > a {
  font-size: 1.8em;
  color: white;
  width: 100%;
}
.mobileNav > a::before { content: none; }
.open {
  opacity: 1;
  z-index: 9999;
}
/* End header nav */

/* sections */
.section p {
  color: #9190A1;
  margin: 30px 0;
}
.section,
.tallSection {
  padding: 50px 30px;
  text-align: center;
}
.tallSection {
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.tallSection p {
  font-weight: 600;
  font-size: 0.85em;
  color: rgba(0,0,0,0.6);
}
.imgBg {
  position: absolute;
  z-index: 0;
}
.graphicDesignerBg,
.photographyBg {
  background-size: cover;
  background-position-x: 50%;
  background-repeat: no-repeat;
}
.graphicDesignerBg {
  background-image: url('../images/mobile/image-graphic-design.jpg');
}
.photographyBg {
  background-image: url('../images/mobile/image-photography.jpg');
}
.bgOverlay {
  position: relative;
}

/* testimonials */

@media(min-width: 495px) {
  .hero {
    background-image: url('../images/desktop/image-header.jpg')
  }
}

@media (min-width: 375px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
