.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.hero {
  min-height: 544px;
  background-color: #65BBF9;
  background-image: url('../images/mobile/image-header.jpg');
  background-size: cover;
  background-position-x: 49.3%;
  background-position-y: 98%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}
.hero>nav {
  text-align: right;
}
.hero>main {
  flex: 1;
  text-align: center;
  padding: 30px 20px;
}

@media(min-width: 495px) {
  .hero {
    background-image: url('../images/desktop/image-header.jpg')
  }
}

@media (min-width: 375px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
