.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.hero {
  min-height: 544px;
  background-color: #65BBF9;
  background-image: url('../images/mobile/image-header.jpg');
  background-size: cover;
  background-position-x: 49.3%;
  background-position-y: 98%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}
.hero>nav {
  text-align: right;
}
.hero>main {
  flex: 1;
  text-align: center;
  padding: 30px 20px;
}
.hero h1 {
  color: white;
}
/* Header nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px;
}
.logo {
  font-family: Barlow;
  font-weight: 600;
  font-size: 2em;
  letter-spacing: -0.05em;
  color: white;
  z-index: 99999;
}
.mobileNav {
  padding: 28px 0 20px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  background-color: #66BBF9AA;
  width: 100%;
  transition: ease-in 0.1s;
  z-index: -1;
}
.mobileNav > * {
  padding: 1em 30px;
}
.mobileNav > a {
  font-size: 1.8em;
  color: white;
  width: 100%;
}
.mobileNav > a::before { content: none; }
.open {
  opacity: 1;
  z-index: 9999;
}
/* End header nav */

/* sections */
.section p {
  color: var(--color-grayish-blue);
}
.section,
.tallSection {
  padding: 50px 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.tallSection {
  height: 580px;
  justify-content: flex-end;
}
.tallSection p {
  font-weight: 600;
  font-size: 0.85em;
  color: rgba(0,0,0,0.6);
}
.imgBg {
  position: absolute;
  z-index: 0;
}
.graphicDesignerBg,
.photographyBg {
  background-size: cover;
  background-position-x: 50%;
  background-repeat: no-repeat;
}
.graphicDesignerBg {
  color: var(--color-dark-cyan);
  background-image: url('../images/mobile/image-graphic-design.jpg');
  grid-area: graphic-designer;
}
.photographyBg {
  color: var(--color-dark-blue);
  background-image: url('../images/mobile/image-photography.jpg');
  grid-area: photography;
}
.bgOverlay {
  position: relative;
}

.learnSection2, .learnSection4 {
  justify-content: center;
}
.learnSection1 { grid-area: learn-image-egg; }
.learnSection2 { grid-area: learn-transform; }
.learnSection3 { grid-area: learn-image-cup; }
.learnSection4 { grid-area: learn-standout; }
.learnSection { display: unset; }

/* testimonials */
.testimonials {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  gap: 60px;
}
.testimonials p {
  color: var(--dark-grayish-blue);
  font-weight: 500;
}
.testimonial {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.avatar {
  margin-top: 30px;
}
.avatar img {
  border-radius: 9999px;
}
.nameAndTitle {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Image gallery */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* Footer */
.footer {
  font-family: Barlow;
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
  background-color: var(--color-desaturated-cyan);
  text-align: center;
  color: var(--color-moderate-cyan);
}
.footer .logo {
  font-size: 2.5rem;
  color: var(--color-dark-cyan);
}
.footer ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
  color: var(--color-moderate-cyan);
}
.socials ul {
  justify-content: center;
  display: flex;
  gap: 25px;
}

/* switch bg exactly at 495px for seamless transition */
@media(min-width: 495px) { 
  .hero {
    background-image: url('../images/desktop/image-header.jpg')
  }

  .graphicDesignerBg {
    background-image: url('../images/desktop/image-graphic-design.jpg');
  }
  .photographyBg {
    background-image: url('../images/desktop/image-photography.jpg');
  }
}

@media (min-width: 375px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.desktopNav {
  display: none;
}

@media (min-width: 680px) {
  .mobileNav, .hamburger {
    display: none;
  }
  .desktopNav {
    display: flex;
    color: white;
    gap: 30px;
    font-weight: normal;
  }
  .desktopNav a {
    text-transform: unset;
    font-family: Barlow;
  }
  .desktopNav .primaryBtn {
    text-transform: uppercase;
    padding: 16px;
    background: white;
    color: black;
    font-family: Fraunces;
    border-radius: 9999px;
    letter-spacing: 0em;
  }

  .learnSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "learn-transform learn-image-egg"
      "learn-image-cup learn-standout"
      "graphic-designer photography";
  }

  .testimonials {
    flex-direction: row;
    gap: 12px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  
  .footer ul {
    justify-content: center;
    gap: 40px;
  }
  .socials ul { gap: 30px; }
}